[Unit]
Description=Pigflux service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/docker/pigflux/run

[Install]
WantedBy=multi-user.target
